.purchasers-offers-index {
    background-color: white;
    padding: 3em;
}

.purchaser-offer-container {
    border: 3px black solid;
    border-radius: 8px;
    opacity: 0.6;
    background-color: $dark-blue;
}
