

  .offer-container {
    color:#193b68;
    margin-bottom:2em;
    h1{
      margin-inline-end: 2px;
    }
  }


    .offer-top-bar {
        box-sizing: border-box;
    }

    .quote-name.h1{
      text-align: center;
    }

    .card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-align: left;
}



  .card-product-infos{
    text-align: left;
  }




.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 5px;
}

.action-btn{
  margin-right: 200px;
  a{
    color:white;
  }
}

.btn-confirmed{
  width: 140px;
  height: 36px;
  margin-right:32px;
  background: #193B68;
  color: white;
}

.btn-cancel{
width: 140px;
height: 36px;
background: rgba(25, 55, 104, 0.1);
a{
    color:#193B68;
  }

}

