<h1>Message#index</h1>
<div class="message-container">
  <% @messages.each do |message| %>
    <div class="card">
      <h5>
        <%= message.title %>
      </h3>
      <p>
        <%= message.content %>
      </p>
      <p>
        Product Name: <%= message.product.name %>
      </p>
      <p>
        Supplier: <%= message.product.supplier.name %>
      </p>
    </div>
  <% end %>
</div>