<div class="messages-container">

<div class="flash flash-primary alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> 🎉 your message has been submitted successfully!</span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>

<div>

</div>
    <div class="messages row">
      <% if @messages.nil? %>
        <p>Hmm.. Maybe you should message someone</p>
      <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Title</th>
            <th scope="col">Product name</th>
            <th scope="col">Details</th>
          </tr>
        </thead>

        <% @messages.each do |message| %>
         <tbody>
            <tr>
              <td><%= message.created_at %></td>
              <td><%= message.title %> </td>
              <td><strong><%= message.product.name %></strong> </td>
              <td><%= link_to "More", message_path(message) %></td>
            </tr>
         </tbody>



          </div>
        <% end %>
        </table>
      <% end %>
    </div>
  </div>
<div>
  <button onclick="window.location.href='/purchasers/dashboard'" class="btn btn-primary">View my Dashboard</button>
</div>
