<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form">
        <div class="form-message">
          <%# <div class="row">
            <div class="col-xs-12 col-sm-8 offset-sm-2 my-2 form-new-message"> %>
          <h1>Write your message</h1>
          <%= render 'shared/message_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
