.row {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.left-col {
  transform: translate3d(-200px, 20px, 0px);
}

.right-col {
  transform: translate3d(150px, 20px, 0);
}

.container-fluid {
  width: 100vw;
}