.search-box {
  margin: 32px 0;
  .btn {
    margin-left: 2em;
    height: 100%;
  }
}
.filter-container {
  padding: 16px;
}
.filter {
  text-align: left;
}
.products-container {
  display: flex;
}

.row {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.mid-col {
  flex-grow: 1;
  padding: 0 32px;
}

.side-col {
  width: 200px;
  flex-shrink: 0;
  background-color: white;
  padding: 1em 0.5em;
  border-radius: 6px;
  height: fit-content;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  .img-product {
    height: 120px;
    margin-bottom: 32px;
    border-radius: 4px;
  }
}

.container-fluid {
  width: 100vw;
}
