.search-box {
  justify-content: center;
  width: 40rem;
  margin: 2rem 0;

  .btn {
    margin-left: 1rem;
    height: 48px;
    font-weight: 600;
  }
}

#query {
  line-height: 1.4rem;
  height: 48px;
  border-radius: 4px;
  border: 2px solid black;
  padding: 0 1rem;
}

.filter {
  text-align: left;
}

.products-container {
  display: flex;

  .filter-container {
    padding: 16px;
  }
}

.row {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.mid-col {
  flex-grow: 1;
  padding: 0 32px;
}

.side-col {
  width: 200px;
  flex-shrink: 0;
  background-color: white;
  padding: 1em 0.5em;
  border-radius: 6px;
  height: fit-content;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);

  .img-product {
    height: 120px;
    margin-bottom: 32px;
    border-radius: 4px;
  }
}

.left-side-col {
  margin-right: 3rem;
  width: 200px;
  flex-shrink: 0;
  background-color: white;
  padding: 1em 0.5em;
  border-radius: 6px;
  height: fit-content;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.container-fluid {
  width: 100vw;
}
