h1 {
  font-weight: bolder;
}



.product-container {
  background-color: white;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  .box {
    height: 80px;
    width: 120px;
    align-content: center;
    padding: 8px 16px;
    flex-basis: 20%;
    margin-bottom: 1em;
  }
}

.button-group {
  margin: 0 32px;
  display: flex;
  .btn-supplier {
    background-color: #DCDCDC;
  }
  .btn-success {
    border-radius: 4px;
    color: white;
  }
}