hr {
  width: 75%;
}

.product-container {
  background-color: white;
  margin: auto;
  .product-show {
    text-align: left;
    .product-header {
      margin-left: 1rem;
      margin-top: 1em;
    }
  }
  h1 {
    font-weight: bolder;
  }
}

.description-list {
  position: relative;
  top: -5rem;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  .box {
    height: 80px;
    width: 120px;
    align-content: center;
    padding: 8px 16px;
    flex-basis: 20%;
    h6 {
      font-weight: bold;
    }
  }
}

.button-group {
  margin: 0px auto;
  width: 58.5%;
  justify-content: center;
  display: flex;
  .btn-supplier {
    background-color: #dcdcdc;
    height: 36px;
    border-radius: 4px;
    margin-right: 32px;
  }
  .btn-quote {
    border-radius: 4px;
    color: white;
    background-color: $dark-blue;
  }
  a,
  i {
    color: $dark-blue;
  }
}
