
h1 {
  font-weight: bolder;
}



.product-container {
  background-color: white;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  .box {
    height: 80px;
    width: 120px;
    align-content: center;
    padding: 8px 16px;
    flex-basis: 20%;
    margin-bottom: 1em;
  }
}
