.about-me {
    background-color: white;
    border-radius: 16px;
    padding: 32px 0;
    margin-bottom: 3em;
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.1);
    width: 67vw;
    transform: translateX(-75px);
}

.supplier-products {
    width: 78vw;
    transform: translateX(-88px);
}

.supplier-dashboard {
    transform: translateX(-80px);
    h4 {
      color: $dark-blue;
      letter-spacing: 2px;
    }
}

.card-offer {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: left;
    margin: 2em auto;
    // align-items: center;
    justify-items: left;
    width: 600px;
}
  
  .card-offer img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  
  .card-offer h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-offer p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-top: 8px;
  }
  
  .card-offer .card-offer-infos {
    padding: 16px;
  }
  
.card-offer a {
    color: black;
    &:hover {
        text-decoration: none;
    }
}

p {
    letter-spacing: 1px;
}