.about-us {
    background-color: white;
    border-radius: 8px;
    padding: 3em;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    h1 {
        margin: 32px 0;
        letter-spacing: 2px;
    }
    p {
        letter-spacing: 1px;
    }
}