.container-about {
  margin: 32px 0px;
}
.tab-content {
  h1 {
    margin: 32px 0;
  }
  
  img {
    width: 100%;
    height: 560px;
  }
}

#about{
  color:#193b68;

}

#faq{
  color:#193b68;
}

.card-header{
  background-color: white;
}
