.contact-us {
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 32px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.form-group{
  text-align: left;
  margin-bottom: 20px;
  color: #193b68;
}


.d-flex{
  color:#193b68;
  font-family: 'open sans';
}

$blue: #1479FF;
$dark-blue: #193B68;

.btn-dark {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-dark:hover {
  background: $dark-blue;
}





