$blue: #1479FF;
$dark-blue: #193B68;

.contact-us {
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 32px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.form-group{
  text-align: left;
  color: #193b68;
}

.btn-dark {
  background: $blue;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-dark:hover {
  background: $dark-blue;
}

.img-contact {
  width: 80%;
  height: auto;
  object-fit: contain;
  margin: 16px 0;
}

.contact-weixin {
  height: 24px;
  width: 24px;
  object-fit: contain;
}
