// Specific CSS for your home-page
h2 {
    font-size: larger;
}

.certification-checks-icons {
    padding: 24px 32px;
    height: 100px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .certification-logo {
        height: 100%;

        img {
            height: 100%;
        }
    }
}
