<h5>from supplier form</h5>
<%= f.input :name,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "name" }%>
<%= f.input :email,
            required: true,
            autofocus: true,
          input_html: { autocomplete: "email" }%>
