.offer-conatiner {
  background: $offer-gray;
  padding-bottom: 1rem;
}

.offer-info {
  background: $offer-white;
  margin: 1rem;
  padding: 2rem;
}

.quote-name {
  margin-left: 1rem;
  margin-top: 1rem;
}
