<div class="supplier-dashboard d-flex">
  <div class="supplier-dashboard-offers mx-3">
    <h4>Offer I got</h4>
    <% @Supplier %>
  </div>
  <div class="supplier-dashboard-products mx-3">
    <h4>Product I own</h4>
  </div>
</div>