<div class="banner">
  <div class="banner-container-half">
    <h1>Trusted Suppliers</h1>
    <h1>From us to you.</h1>
    <p>We know choosing a vendor is hard. We're here to help.</p>
    <a href="/welcome" class="btn btn-dark" style="border-radius:4px;">Become a member</a>
    <%# <%= render 'shared/signup_bar' %>
    <%# <a class="btn btn-primary" href="/users/sign_in">Begin your search</a> %>
  </div>
</div>