<div class="banner">
  <div class="banner-container-half">
    <h1>Trusted Suppliers from here to the world</h1>
    <p>We know choosing a vendor is hard. We're here to help.</p>
    <a class="btn btn-primary" href="#">Get started</a>
  </div>
</div>