<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container-home">
    <h1>Your trusted suppliers from here to the world</h1>
    <p>VeraCity knows your concerns when choosing a vendor. VeraCity here to help.</p>
    <a class="btn btn-flat" href="#">Get started</a>
  </div>
</div>