
<div>
  <button type="button" class="btn btn-primary">Primary</button>
</div>


<div>
  <button type="button" class="btn btn-primary btn-sm">Small button</button>
</div>

<div>
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
</div>
