<div class="card-category" style="width: 18rem, background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg);">
    <div class="card-body">
    <h6>Step 1</h6>
    <p class="card-text">What to do.</p>
    <img src="..." class="card-img-top" alt="...">
  </div>
</div>