<div class="card-category" style="width: 18rem, background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg);">
    <div class="card-body">
    <h6><%= step %></h6>
    <p class="card-text"><%= info %></p>
    <img src=<%= img %> class="card-img-top" alt="image for step">
  </div>
</div>