<<<<<<< HEAD
<a class="btn btn-primary btn-dashboard" href="/purchasers/dashboard" role="button">Link</a>
=======
<a href="/purchasers/dashboard" class="btn btn-primary btn-dashboard " role="button">Dashboard</a>
>>>>>>> cde9ef8bb8039e9ef13c211790d89c42dd948fe8
