<div class="card-msg border-secondary mb-" style="max-width: 18rem;">
  <div class="card-header"><%= product %>, <%= supplier %></div>
  <div class="card-body text-secondary">
    <h5 class="card-title"><%= title %></h5>
    <p class="card-text"><%= content %></p>
  </div>
</div>