<div class="img-product">
  <%= link_to '#' do %>
    <img src="https://ihealthlabs.com/wp-content/uploads/livocare_mask_50_main.jpg" alt="mask" height="125px" width="125px" margin="10px auto">
    <%#= image_tag 'mask.jpg' %>
  <% end %>
</div>