
<div class="search">
  <form action="#">
    <input type="email" id="your-email" placeholder="face mask">
    <button class="button" type="submit" class="btn btn-gradient">
      <i class="fas fa-search"></i> Search
    </button>
  </form>
</div>