<div class="signup">
  <form action="/users/sign"></form>
  <input type="email" id="your-email" placeholder="bob@gmail.com">
  <input class="btn btn-signup" type="submit" value="Join now">
  </form>
</div>
