<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#about" role="tab" aria-controls="pills-home" aria-selected="true">About</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#faq" role="tab" aria-controls="pills-profile" aria-selected="false">FAQ</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="pills-home-tab">
    <%= image_tag 'aboutus.jpg' %>
    <h1><strong>Mission</strong></h1>
    <p>Covid-19, an unexpected pandemic hits the world. It is not one country’s issue , but for we human beings. It is time to work closely with the countries that needs supplier products, to save time to provide effiency verification, to save more life. China as the biggest market to provide those necessaries, we want to make it more accessiable and manageable for western buyers.That’s why VeraCity comes.That’s our mission</p>
  </div>

  <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="pills-profile-tab">
    <%= cl_image_tag("https://res.cloudinary.com/demyxeys9/image/upload/v1592281621/faq_atpfy1.jpg") %>
    <h1><strong>FAQ</strong></h1>
      <div class="card">
        <div class="card-header">
          <h5><strong>Are the supplier trading company or manufacturer ?</strong></h3>
        </div>
        <div class="card-body">
            <p>There are factories, also trading companies, mainly deal with disposable medical consumable products, like surgical face mask, PP/CPE/PE shoe cover, nonwoven caps, paper caps, surgical gown, lab coat, disposable coverall, PE apron, sleeve covers... with verification by trusted verified companies.</p>
        </div>
    </div>


    <div class="card">
      <div class="card-header">
        <h5><strong>How can I make sure the suppliers and products are verified and qualify for our country standard?</strong></h5>
      </div>
      <div class="card-body">
          <p>"There is no evidence to support the transmission of Covid-19 associated with imported good"Authorities are taking strict measures on this public health event, so we do not need to worry about this.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5><strong>Should I be concerned of the risk of contracting virus from a package or products shipping?</strong></h5>
      </div>
      <div class="card-body">
          <h5><p>Our trusted verification company and we are not allow the supplier and products that not up to standard to sign in .</p></h5>
      </div>
  </div>
</div>
