<h1>Contact VeraCity</h1>
<p>here's some ways to contact us</p>
<p>maybe some QR codes</p>
<p>or some icons</p>
<p>maybe some links and emails</p>
<p>or a phone number</p>
<p>idk how this works anymore</p>
<p>love you, Liz! :^D</p>