
<h1><strong>Contact VeraCity</strong></h1>
<p> For questions relating supplier,verification and general issues</p>

<!-- Contact Us Form -->
<div class="contact-us d-flex">
  <form class="w-50 flex-shrink-0">
    <!-- You are "ROLE" -->
    <div class="form-group">
      <label for="exampleFormControlSelect1">You are</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Visitor</option>
        <option>Purchaser</option>
        <option>Supplier</option>
      </select>
    </div>

    <!-- User Name -->
    <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="John Smith">
    </div>

    <!-- User Email Address -->
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="johnsmith20@gmail.com">
    </div>

    <!-- User Job Title -->
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Please let us know your what your question is regarding">
    </div>

    <!-- Contact Message Content -->
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Content</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Plese describe your questions or issue here "></textarea>
    </div>

    <!-- Submit Button -->
    <div>
      <button type="button" class="btn btn-dark">Submit</button>
    </div>
  </form>

<!-- Right side image and email -->
  <div class="d-flex justify-content-center align-items-center flex-column">
    <%= image_tag 'contactus.png', class: "img-contact"%>
    <div><i class="fas fa-envelope"></i> support@veracity.asia</div>
    <div><i class="fab fa-weixin"></i> veracity support</div>
    <%= image_tag 'official.jpeg', size: '80x80', class: "my-3" %>
  </div>
</div>
