<div class="jiayou">
<h4>Stay safe</h4>
</div>
<%= render 'shared/banner' %>
<div class="container-home">
    <div class="container-info">
    <h1>home</h1>
        <div class="cards">
            <%= render 'shared/cards' %>
            <%= render 'shared/cards' %>
            <%= render 'shared/cards' %>
        </div>
    </div>
</div>