

<div class="image_tag">
  <%= image_tag 'Registion.png', size: '150x150'%>
</div>
<div class="py-3">
  <div class="row justify-content-center">
    <h1 class="display-4">Begin your VeraCity journey...</h1>
    <h2 class="lead">
      Are you a <strong>Purchaser</strong> or a <strong>Manufacturer</strong>?
    </h2>
  </div>

  <div class="container">
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Purchasers</strong></h5>
        <p class="card-text">Begin to purchase from VeraCity Verified™ manufacturers.</p>
        <%= link_to "Join as a buyer", new_user_registration_path(user_type: "purchaser"), class: "btn btn-success" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Manufacturers</strong></h5>
        <p class="card-text">Begin your journey to becoming a VeraCity Verified™ supplier.</p>
        <%= link_to "Join as a supplier", new_user_registration_path(user_type: "supplier"), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <h2 class="my-3">Questions about the process?</h2>
      <%= link_to "See our FAQ", about_path(user_type: "supplier"), class: "btn btn-info" %>
    </div>
  </div>
</div>
</div>
