<div class="container">
  <div class="row">

    <div>
      <h3>Purchaser</h3>
      <%= link_to "sign up", new_user_registration_path(user_type: "purchaser") %>
    </div>

    <div>
      <h3>Supplier</h3>
      <%= link_to "sign up", new_user_registration_path(user_type: "supplier") %>
    </div>

  </div>
</div>
