<h1>Supplier offer index</h1>
<div class="supplier-offer-container">
  <% @offers.each do |offer| %>
    <div class="card">
      <h5>
        Purchaser: <%= offer.user.name %>
      </h5>
      <h5>
        Amount: <%= offer.amount %>
      </h5>
      <p>
        Price: $<%= offer.price %>/unit
      </p>
      <%= link_to "Details", suppliers_offer_path(offer) %>
    </div>
  <% end %>
</div>