<%= link_to offer_path(offer) do %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
    <div class="card-product-infos">
      <h4>Product Name: Number of Products</h4>
      <p><%= offer.amount %></p>
      <p>Supplier</p>
      <p>Date contacted</p>
    </div>
  </div>
<% end %>
