<p>User Name: <%= @user.name %></p>
<div class="purchaser-dashboard d-flex">
  <div class="purchaser-dashboard-offers mx-3">
    <h4>Pending Approval...</h4>
    <!--   approved false -->
    <% @user.offers.each do |offer| %>
      <%= offer.amount %>
    <% end %>
  </div>
  <div class="purchaser-dashboard-products mx-3">
    <h4>Closed Offers</h4>
    <!--   approved true -->
  </div>
</div>