<div class="purchaser-dashboard d-flex">
  <div class="purchaser-dashboard-offers mx-3">
    <h4>Offer I got</h4>
    <% @user.name %>
  </div>
  <div class="purchaser-dashboard-products mx-3">
    <h4>Offer I own</h4>
  </div>
</div>