.banner {
    background: url("https://res.cloudinary.com/demyxeys9/image/upload/v1592537057/veracity/beatriz-perez-moya-XN4T2PVUUgk-unsplash_khtnwz.jpg");
    background-size: cover;
    background-position: center;
    padding: 150px 32px;
    margin-bottom: 3em;
    font-size: larger;
    margin-left: 0;
    display: flex;
    align-items: center;

    .banner-container-half {
      width: 50%;
      text-align: left;
      margin-left: 2em;

      h1 {
        letter-spacing: 2px;
        margin: 0;
        color: $dark-blue;
        text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
        font-size: 64px;
        font-weight: bold;
      }
      p {
        margin: 2em auto;
        letter-spacing: 1px;
        font-size: 20px;
        color: $dark-blue;
        opacity: .7;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      }
    }

  }
