$blue: #1479FF;
$dark-blue: #193B68;

.btn-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-primary:hover {
  background: $dark-blue;
}
