.card-category {
  margin: 3em 0;
  border: thin solid gray;
  border-radius: 4px;
  align-items: center;
  justify-items: center;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 16px 0;

  img {
    height: 250px;
    object-fit: contain;
  }

  .card-body {
      text-align: center;
  }

  p {
      bottom: 0;
  }
  
}
  
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin: 3em auto;
    
    h6 {
      font-weight: 600;
      font-size: 32px;
    }

    // img {
    //   height: auto;
    //   width: 100%;
    //   object-fit: cover;
    // }
  }
  

  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

