#footer {
    height: 100px;
    margin-top: 3em;
    line-height: 1em;
    bottom: -1em;

    .icons {
        width: 16%;
        justify-content: space-evenly;
    }

    i {
        color: $dark-blue;
        font-size: x-large;
    }
    
    p {
        color: none;
    }
    
    a {
        color: $dark-blue
    }
}