.navbar-veracity {
  display: flex;
  background-color: white;
  z-index: 10;
  margin: 0px;
  height: 88px;
  padding: 0 32px;
  box-sizing: border-box;

  & a {
    color: $dark-blue;
    font-size: 16px;

    &:hover {
      color: silver;
    }

    &:active {
      color: rgb(70, 70, 70);
    }
  }

  img {
    height: 90%;
    border-radius: 50%;
  }
  
  .avatar-img {
    width: 54px;
    height: 54px;
    border: 2px $dark-blue solid;
  }
}


.navbar-right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  height: 100%;
  align-items: center;
}

.nav-link {
  margin: 0 16px;
  &:active {
    border-bottom: ;
  }
}

.navbar-left {
  height: 100%;
  flex-shrink: 0;
}

.navbar-veracity .navbar-collapse {
  flex-grow: 1;
}

.navbar-veracity .navbar-brand img {
  width: 60px;
}

.navbar-veracity .nav-right {
  position: absolute;
  right: 0;
}