.card-product {
  max-width: 40rem;
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  text-align: left;
  margin-bottom: 2rem;
  border-radius: 4px;
  color: black;
}

#title-container {
  flex-grow: 1;
  margin: 0.5rem 1rem;
}

.scroopy {
  display: flex;
  width: 100%;
}

.product-values {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.modifiers-light {
  opacity: 70%;
}

#product-price {
  font-size: 2rem;
}

.bump-left {
  margin-left: -4px;
}

.card-product img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.card-product h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 1rem;
  line-height: 1.4rem;
  opacity: 0.7;
}

.timestamp {
  position: relative;
  width: max-content;
  background-color: $body-bg;
  right: 165px;
  top: 80px;
}
