// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// Your CSS partials
@import "components/index";
@import "components/banner";
@import "components/cards";
@import "components/jiayou";
@import "components/footer";
@import "components/search";
@import "components/button";
@import "components/product_card";
@import "components/mv_product_card";
@import "components/dashboard_button";
@import "components/offer_card.scss";
@import "components/form";
@import "pages/products/index";
@import "pages/products/show";
@import "pages/index";
@import "pages/purchasers/index";
@import "pages/messages/new";
@import "pages/messages/message_card";
@import "pages/messages/index";
@import "pages/purchasers/offers/show";
@import "pages/purchasers/offers/index";
@import "pages/suppliers/offers/show";



body {
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Noticia Text', serif;
    background-color: #F8F8FF;
    h1, h2, h3, h4 {
        font-family: 'Open Sans', sans-serif;
    }
    .container {
        box-sizing: border-box;
    }
}

.filler-page {
    margin-top: 2em;
    margin-bottom: 2em;
}

.container-fluid {
    width: 70vw;
}
