.messages-container {
  width: 120%;
  margin-left: -7em;
  h1 {
    letter-spacing: 2px;
    line-height: 1em;
    font-weight: bold;
    margin: 32px 0;
    text-align: left;
    padding: 0 16px;
  }
}

.messages-bg {
    background-color: lighten($color: black, $amount: 85);
    padding: 3em;
    border-radius: 4px;
    h1 {
        text-align: left;
    }

    img {
        border-radius: 50%;
        width: 75px;
    }
}

.alert {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(20, 210, 255, 0.3);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  color: #193b68;
}

.messages {
  text-align:left;
}
